@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Montserrat, Rubik, sans-serif;
}

.container {
  @apply max-w-full;
  @apply mx-auto;
  @apply p-0;
}

.navbar,
.footer {
  @apply w-full;
}

.inputDash {
  background-color: #1c2531;
  border-radius: 0.2rem;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
}

.react-toggle {
  width: 40px;
  height: 24px;
  background-color: #1f2937; 
  border-radius: 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  transition: background-color 0.3s ease;
}

.react-toggle--checked .react-toggle-track{
  background-color: #007bff !important;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #007bff !important;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #ffffff00 !important;
  -moz-box-shadow: 0px 0px 3px 2px #ffffff00 !important;
  box-shadow: 0px 0px 2px 3px #ffffff00 !important;
}

.react-toggle-thumb {
  width: 20px;
  height: 20px;
  background-color: #ffffff; 
  border-radius: 50%;
  border: none;
  box-shadow: none;
  transition: transform 0.3s ease;
}

.react-toggle:not(.react-toggle--checked) .react-toggle-thumb {
  transform: translateX(0);
}

.react-toggle--checked .react-toggle-thumb {
  transform: translateX(0px);
}